[Unit]
Description=Clock radio app
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=riha
Group=riha
SupplementaryGroups=video render input tty audio
ExecStart=/usr/bin/python3 /opt/clockradio/app/clockradio.py
Restart=on-failure
RestartSec=2

StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes

Environment=HOME=/home/riha

[Install]
WantedBy=multi-user.target
